.header {
    padding: 10px 15px;
    color: white;
    background-color: var(--primaryDark);
}
.header-hbox {
    display: flex;
    justify-content: flex-end;
}
.header-title {
    font-family: 'Poppins', sans-serif;
    font-weight: regular;
    font-size: large;
    user-select: none;
}
