<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Windwall GUI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}">
    <link href="{{ url_for('static', filename='assets/fontawesome/css/fontawesome.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/fontawesome/css/solid.css') }}" rel="stylesheet" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo-cropped.png') }}">
    <script type="module" src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/fan-grid.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
    <div id="main-div">
        {% include "header.html" %}

        <div class="main-three-column">

            <div id="left-panel" class="panel">
                <div id="left-panel-header" class="panel-header">
                    <div id="left-panel-title" class="panel-title">Console</div>
                </div>
                <div id="left-panel-content" class="panel-content">
                    <div id="console">
                    </div>
                </div>
            </div>

            <div id="middle-panel" class="panel">
                <div id="middle-panel-header" class="panel-header">
                    <div id="middle-panel-title" class="panel-title">Fan Grid</div>
                </div>
                <div id="middle-panel-content" class="panel-content">
                    <div id="grid-wrapper">
                        <div id="grid-details">
                            <div id="unit-btns">
                                <button id="show-pct-button" class="tool-btn"><i class="fa-regular fa-percent"></i></button>
                                <button id="show-speed-button" class="tool-btn"><i class="fa-regular fa-dashboard"></i></button>
                            </div>
                            <span id="units-label" style="user-select: none;"></span>
                        </div>
                        <div class="fan-selection-container">
                            <div class="fan-selection-grid"></div>
                        </div>
                    </div>

                    <div id="tool-vbox">
                        <div id="tool-hbox">
                            <button id="select-tool-button" class="tool-btn"><i class="fa-regular fa-pencil"></i></button>
                            <button id="deselect-tool-button" class="tool-btn"><i class="fa-regular fa-eraser"></i></button>
                            <button id="select-all-button" class="tool-btn">Select All</button>
                            <button id="deselect-all-button" class="tool-btn">Deselect All</button>
                        </div>
                    </div>

                    

                </div>
            </div> 
            
            <div id="right-panel" class="panel">
                <div id="right-panel-header" class="panel-header">
                    <div id="right-panel-title" class="panel-title">Controls</div>
                </div>
                <div id="right-panel-content" class="panel-content">
                    <div class="tab-container">

                        <div class="tabs-hbox">
                            <div id="basic-input-tab" class="tab">Basic</div>
                            <div id="gradient-input-tab" class="tab">Gradient</div>
                            <div id="function-input-tab" class="tab">Function</div>
                        </div>

                        <div id="basic-input-page" class="tab-page">
                            <div class="tab-page-title">Basic Input</div>
                            <hr>
                            <div id="basic-input-grid">
                                <div class="tab-page-subtitle">Percentage Input&ensp;<i class="fa-solid fa-question-circle"></i></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <label for="velocity-input-percent" style="user-select: none;">Percent:</label>
                                <div>
                                    <input type="number" class="number-input" id="velocity-input-percent" name="velocity-input-percent" step="any" min="0" max="100" maxlength="3">
                                    <span id="velocity-input-units-label">%</span>
                                </div>
                                <button class="apply-button" id="apply-velocity-percent-button" style="margin-left: 1rem;">Apply</button>

                                <div class="tab-page-subtitle">Raw Input&ensp;<i class="fa-solid fa-question-circle"></i></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <label for="velocity-input-raw" style="user-select: none;">Velocity:</label>
                                <div>
                                    <input type="number" class="number-input" id="velocity-input-raw" name="velocity-input-raw" step="any" min="0" max="100" maxlength="3">
                                    <span id="velocity-input-units-label">m/s</span>
                                </div>
                                <button class="apply-button" id="apply-velocity-raw-button" style="margin-left: 1rem;">Apply</button>
                            </div>
                        </div>

                        <div id="gradient-input-page" class="tab-page">
                            <div class="tab-page-title">Gradient Input</div>
                            <hr>
                            <div id="gradient-input-grid">
                                <div class="tab-page-subtitle">Type:</div>
                                <select>
                                    <option>Linear</option>
                                    <option>Nth Power Polynomial</option>
                                </select>

                                <div class="tab-page-subtitle">Direction:</div>
                                <div id="gradient-direction-grid">
                                    <div></div>
                                    <div class="gradient-direction" data-dir-x="0" data-dir-y="-1"><i class="fa-solid fa-arrow-up"></i></div>
                                    <div></div>
                                    <div class="gradient-direction" data-dir-x="-1" data-dir-y="0"><i class="fa-solid fa-arrow-left"></i></div>
                                    <div></div>
                                    <div class="gradient-direction" data-dir-x="1" data-dir-y="0"><i class="fa-solid fa-arrow-right"></i></div>
                                    <div></div>
                                    <div class="gradient-direction" data-dir-x="0" data-dir-y="1"><i class="fa-solid fa-arrow-down"></i></div>
                                    <div></div>
                                </div>

                                <div class="tab-page-subtitle">Start:</div>
                                <div>
                                    <input type="number" class="number-input" id="gradient-start-input" name="gradient-start-input" step="any" min="0" max="100" maxlength="3">
                                    %
                                </div>

                                <div class="tab-page-subtitle">End:</div>
                                <div>
                                    <input type="number" class="number-input" id="gradient-end-input" name="gradient-end-input" step="any" min="0" max="100" maxlength="3">
                                    %
                                </div>

                                <button id="apply-gradient-button" class="apply-button">Apply</button>
                            </div>
                        </div>

                        <div id="function-input-page" class="tab-page">
                            <div class="tab-page-title">Function Input</div>
                            <hr>
                        </div>

                    </div>
                </div>
            </div> 

        </div>

    </div>
</body>
</html>
